{
  "openapi" : "3.0.0",
  "info" : {
    "contact" : {
      "email" : "adam.lee@cupix.com",
      "name" : "Adam Lee"
    },
    "title" : "CupixWorks n8n SDK",
    "version" : "1.13.3"
  },
  "servers" : [ {
    "url" : "https://api.cupix.works/api/v1"
  } ],
  "paths" : {
    "/annotations" : {
      "get" : {
        "description" : "Annotation 목록을 조회한다. `capture_id` 또는 `annotation_layer_ids`를 필수로 입력해야한다.",
        "operationId" : "annotation_get_annotations",
        "parameters" : [ {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "Capture ID",
          "explode" : true,
          "in" : "query",
          "name" : "capture_id",
          "required" : false,
          "schema" : {
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "AnnotationLayer ID list",
          "explode" : false,
          "in" : "query",
          "name" : "annotation_layer_ids",
          "required" : false,
          "schema" : {
            "items" : {
              "format" : "int64",
              "type" : "integer"
            },
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "Aread ID list",
          "explode" : false,
          "in" : "query",
          "name" : "area_ids",
          "required" : false,
          "schema" : {
            "items" : {
              "format" : "int64",
              "type" : "integer"
            },
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "Pano ID list",
          "explode" : false,
          "in" : "query",
          "name" : "pano_ids",
          "required" : false,
          "schema" : {
            "items" : {
              "format" : "int64",
              "type" : "integer"
            },
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "Search query",
          "explode" : true,
          "in" : "query",
          "name" : "q",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "The server will send back the requested resource, with a 200 status, only if it has been last modified after the given date.",
          "explode" : false,
          "in" : "header",
          "name" : "X-CUPIX-UPDATED-SINCE",
          "required" : false,
          "schema" : {
            "format" : "date-time",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Field name to order",
          "explode" : true,
          "in" : "query",
          "name" : "order_by",
          "required" : false,
          "schema" : {
            "example" : "created_at",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Sort direction",
          "explode" : true,
          "in" : "query",
          "name" : "sort",
          "required" : false,
          "schema" : {
            "example" : "desc",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Page number",
          "explode" : true,
          "in" : "query",
          "name" : "page",
          "required" : false,
          "schema" : {
            "format" : "int32",
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Item count per page",
          "explode" : true,
          "in" : "query",
          "name" : "per_page",
          "required" : false,
          "schema" : {
            "format" : "int32",
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Filter",
          "explode" : false,
          "in" : "query",
          "name" : "filter",
          "required" : false,
          "schema" : {
            "items" : {
              "example" : "capture_id=1",
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AnnotationListResponse"
                }
              }
            },
            "description" : "Annotation list"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Annotation list",
        "tags" : [ "Annotation" ]
      },
      "post" : {
        "operationId" : "annotation_create_annotation",
        "parameters" : [ {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/CreateAnnotationRequestBody"
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AnnotationResponse"
                }
              }
            },
            "description" : "Annotation"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Create Annotation",
        "tags" : [ "Annotation" ]
      }
    },
    "/annotations/{annotation_id}/comments" : {
      "get" : {
        "operationId" : "annotation_get_comments",
        "parameters" : [ {
          "description" : "Annotation ID",
          "explode" : false,
          "in" : "path",
          "name" : "annotation_id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "Search query",
          "explode" : true,
          "in" : "query",
          "name" : "q",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Filter",
          "explode" : false,
          "in" : "query",
          "name" : "filter",
          "required" : false,
          "schema" : {
            "items" : {
              "example" : "capture_id=1",
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "The server will send back the requested resource, with a 200 status, only if it has been last modified after the given date.",
          "explode" : false,
          "in" : "header",
          "name" : "X-CUPIX-UPDATED-SINCE",
          "required" : false,
          "schema" : {
            "format" : "date-time",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Field name to order",
          "explode" : true,
          "in" : "query",
          "name" : "order_by",
          "required" : false,
          "schema" : {
            "example" : "created_at",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Sort direction",
          "explode" : true,
          "in" : "query",
          "name" : "sort",
          "required" : false,
          "schema" : {
            "example" : "desc",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Page number",
          "explode" : true,
          "in" : "query",
          "name" : "page",
          "required" : false,
          "schema" : {
            "format" : "int32",
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Item count per page",
          "explode" : true,
          "in" : "query",
          "name" : "per_page",
          "required" : false,
          "schema" : {
            "format" : "int32",
            "type" : "integer"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommentListResponse"
                }
              }
            },
            "description" : "Comment list"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Get comment list",
        "tags" : [ "Annotation" ]
      },
      "post" : {
        "operationId" : "annotation_create_comment",
        "parameters" : [ {
          "description" : "Annotation ID",
          "explode" : false,
          "in" : "path",
          "name" : "annotation_id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/CreateCommentRequestBody"
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommentResponse"
                }
              }
            },
            "description" : "Comment"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Create comment",
        "tags" : [ "Annotation" ]
      }
    },
    "/annotations/{annotation_id}/comments/{id}" : {
      "delete" : {
        "operationId" : "annotation_delete_comment",
        "parameters" : [ {
          "description" : "Annotation ID",
          "explode" : false,
          "in" : "path",
          "name" : "annotation_id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Comment ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "204" : {
            "description" : "Deleted"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Delete Annotation Comment",
        "tags" : [ "Annotation" ]
      },
      "get" : {
        "operationId" : "annotation_get_comment",
        "parameters" : [ {
          "description" : "Annotation ID",
          "explode" : false,
          "in" : "path",
          "name" : "annotation_id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Comment ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommentResponse"
                }
              }
            },
            "description" : "Comment"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Get comment",
        "tags" : [ "Annotation" ]
      },
      "put" : {
        "operationId" : "annotation_update_comment",
        "parameters" : [ {
          "description" : "Annotation ID",
          "explode" : false,
          "in" : "path",
          "name" : "annotation_id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Comment ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/UpdateCommentRequestBody"
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CommentResponse"
                }
              }
            },
            "description" : "Comment"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Update comment",
        "tags" : [ "Annotation" ]
      }
    },
    "/annotations/{annotation_id}/fields/{id}" : {
      "get" : {
        "operationId" : "annotation_get_annotation_field",
        "parameters" : [ {
          "description" : "Annotation ID",
          "explode" : false,
          "in" : "path",
          "name" : "annotation_id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Field ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FieldResponse"
                }
              }
            },
            "description" : "Field"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Get Field",
        "tags" : [ "Annotation" ]
      },
      "put" : {
        "operationId" : "annotation_update_annotation_field",
        "parameters" : [ {
          "description" : "Annotation ID",
          "explode" : false,
          "in" : "path",
          "name" : "annotation_id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Field ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/UpdateFieldRequestBody"
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FieldResponse"
                }
              }
            },
            "description" : "Field"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Update Field",
        "tags" : [ "Annotation" ]
      }
    },
    "/annotations/{annotation_id}/fields/{id}/clear_fields" : {
      "put" : {
        "operationId" : "annotation_clear_annotation_field_fields",
        "parameters" : [ {
          "description" : "Annotation ID",
          "explode" : false,
          "in" : "path",
          "name" : "annotation_id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Field ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Field fields to clear",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "enum" : [ "value" ],
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "responses" : {
          "204" : {
            "description" : "Fields are cleared"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Clear annotation field fields",
        "tags" : [ "Annotation" ]
      }
    },
    "/annotations/{id}" : {
      "delete" : {
        "operationId" : "annotation_delete_annotation",
        "parameters" : [ {
          "description" : "Annotation ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "204" : {
            "description" : "Deleted"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Delete Annotation",
        "tags" : [ "Annotation" ]
      },
      "get" : {
        "operationId" : "annotation_get_annotation",
        "parameters" : [ {
          "description" : "Annotation ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AnnotationResponse"
                }
              }
            },
            "description" : "Annotation"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Get Annotation",
        "tags" : [ "Annotation" ]
      },
      "put" : {
        "operationId" : "annotation_update_annotation",
        "parameters" : [ {
          "description" : "Annotation ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/UpdateAnnotationRequestBody"
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AnnotationResponse"
                }
              }
            },
            "description" : "Annotation"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Update Annotation",
        "tags" : [ "Annotation" ]
      }
    },
    "/annotations/{id}/clear_fields" : {
      "put" : {
        "operationId" : "annotation_clear_fields",
        "parameters" : [ {
          "description" : "Annotation ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Annoation fields to clear",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "enum" : [ "thumbnail", "parent_id", "value", "annotatable" ],
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "responses" : {
          "204" : {
            "description" : "Fields are cleared"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Clear fields",
        "tags" : [ "Annotation" ]
      }
    },
    "/captures" : {
      "get" : {
        "operationId" : "capture_get_captures",
        "parameters" : [ {
          "description" : "Record ID",
          "explode" : true,
          "in" : "query",
          "name" : "record_id",
          "required" : false,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Capture IDs",
          "explode" : false,
          "in" : "query",
          "name" : "edit_ids",
          "required" : false,
          "schema" : {
            "items" : {
              "format" : "int64",
              "type" : "integer"
            },
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "User ID",
          "explode" : true,
          "in" : "query",
          "name" : "user_id",
          "required" : false,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Search query",
          "explode" : true,
          "in" : "query",
          "name" : "q",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Filter",
          "explode" : false,
          "in" : "query",
          "name" : "filter",
          "required" : false,
          "schema" : {
            "items" : {
              "example" : "capture_id=1",
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "The server will send back the requested resource, with a 200 status, only if it has been last modified after the given date.",
          "explode" : false,
          "in" : "header",
          "name" : "X-CUPIX-UPDATED-SINCE",
          "required" : false,
          "schema" : {
            "format" : "date-time",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Field name to order",
          "explode" : true,
          "in" : "query",
          "name" : "order_by",
          "required" : false,
          "schema" : {
            "example" : "created_at",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Sort direction",
          "explode" : true,
          "in" : "query",
          "name" : "sort",
          "required" : false,
          "schema" : {
            "example" : "desc",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Page number",
          "explode" : true,
          "in" : "query",
          "name" : "page",
          "required" : false,
          "schema" : {
            "format" : "int32",
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Item count per page",
          "explode" : true,
          "in" : "query",
          "name" : "per_page",
          "required" : false,
          "schema" : {
            "format" : "int32",
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "리스트 조회 대상 설정\n\nuntrashed (default): 삭제되지 않은 상태\nin_trash_by_parent: 해당 인스턴스는 삭제되지 않았지만, 부모 인스턴스가 삭제된 상태\n",
          "explode" : true,
          "in" : "query",
          "name" : "visibility",
          "required" : false,
          "schema" : {
            "enum" : [ "untrashed", "in_trash_by_parent" ],
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CaptureListResponse"
                }
              }
            },
            "description" : "Capture list"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Capture list",
        "tags" : [ "Capture" ]
      },
      "post" : {
        "operationId" : "capture_create_capture",
        "parameters" : [ {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/CreateCaptureRequestBody"
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CaptureResponse"
                }
              }
            },
            "description" : "Capture"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Create Capture",
        "tags" : [ "Capture" ]
      }
    },
    "/captures/{id}" : {
      "get" : {
        "operationId" : "capture_get_capture",
        "parameters" : [ {
          "description" : "Capture ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CaptureResponse"
                }
              }
            },
            "description" : "Capture"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Get Capture",
        "tags" : [ "Capture" ]
      },
      "put" : {
        "operationId" : "capture_update_capture",
        "parameters" : [ {
          "description" : "Capture ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/UpdateCaptureRequestBody"
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CaptureResponse"
                }
              }
            },
            "description" : "Capture"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Update Capture",
        "tags" : [ "Capture" ]
      }
    },
    "/captures/{id}/clear_fields" : {
      "put" : {
        "operationId" : "capture_clear_fields",
        "parameters" : [ {
          "description" : "Capture ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Capture fields to clear",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "enum" : [ "thumbnail" ],
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "responses" : {
          "204" : {
            "description" : "Fields are cleared"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Clear fields",
        "tags" : [ "Capture" ]
      }
    },
    "/captures/{id}/publish" : {
      "delete" : {
        "operationId" : "capture_unpublish_capture",
        "parameters" : [ {
          "description" : "Capture ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CaptureResponse"
                }
              }
            },
            "description" : "Capture"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Unpublish Capture",
        "tags" : [ "Capture" ]
      },
      "put" : {
        "operationId" : "capture_publish_capture",
        "parameters" : [ {
          "description" : "Capture ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CaptureResponse"
                }
              }
            },
            "description" : "Capture"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Publish Capture",
        "tags" : [ "Capture" ]
      }
    },
    "/facilities" : {
      "get" : {
        "operationId" : "facility_get_facilities",
        "parameters" : [ {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "Workspace ID",
          "explode" : true,
          "in" : "query",
          "name" : "workspace_id",
          "required" : false,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Search query",
          "explode" : true,
          "in" : "query",
          "name" : "q",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "The server will send back the requested resource, with a 200 status, only if it has been last modified after the given date.",
          "explode" : false,
          "in" : "header",
          "name" : "X-CUPIX-UPDATED-SINCE",
          "required" : false,
          "schema" : {
            "format" : "date-time",
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Field name to order",
          "explode" : true,
          "in" : "query",
          "name" : "order_by",
          "required" : false,
          "schema" : {
            "example" : "created_at",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Sort direction",
          "explode" : true,
          "in" : "query",
          "name" : "sort",
          "required" : false,
          "schema" : {
            "example" : "desc",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Page number",
          "explode" : true,
          "in" : "query",
          "name" : "page",
          "required" : false,
          "schema" : {
            "format" : "int32",
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Item count per page",
          "explode" : true,
          "in" : "query",
          "name" : "per_page",
          "required" : false,
          "schema" : {
            "format" : "int32",
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "리스트 조회 대상 설정\n\nuntrashed (default): 삭제되지 않은 상태\nin_trash_by_parent: 해당 인스턴스는 삭제되지 않았지만, 부모 인스턴스가 삭제된 상태\narchived: 아카이브 된 상태\nvisible: untrashed + archived\n",
          "explode" : true,
          "in" : "query",
          "name" : "visibility",
          "required" : false,
          "schema" : {
            "enum" : [ "untrashed", "in_trash_by_parent", "archived", "visible" ],
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "클러스터링 정밀도",
          "explode" : true,
          "in" : "query",
          "name" : "clustering_precision",
          "required" : false,
          "schema" : {
            "format" : "int64",
            "type" : "number"
          },
          "style" : "form"
        }, {
          "description" : "geo distance 검색 시 사용할 위도",
          "explode" : true,
          "in" : "query",
          "name" : "latitude",
          "required" : false,
          "schema" : {
            "format" : "float",
            "type" : "number"
          },
          "style" : "form"
        }, {
          "description" : "geo distance 검색 시 사용할 경도",
          "explode" : true,
          "in" : "query",
          "name" : "longitude",
          "required" : false,
          "schema" : {
            "format" : "float",
            "type" : "number"
          },
          "style" : "form"
        }, {
          "description" : "geo distance 검색 시 사용할 반경",
          "explode" : true,
          "in" : "query",
          "name" : "radius",
          "required" : false,
          "schema" : {
            "format" : "int64",
            "type" : "number"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FacilityListResponse"
                }
              }
            },
            "description" : "Facility list"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Facility list",
        "tags" : [ "Facility" ]
      },
      "post" : {
        "operationId" : "facility_create_facility",
        "parameters" : [ {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/CreateFacilityRequestBody"
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FacilityResponse"
                }
              }
            },
            "description" : "Facility"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Create facility",
        "tags" : [ "Facility" ]
      }
    },
    "/facilities/{key}" : {
      "get" : {
        "operationId" : "facility_get_facility",
        "parameters" : [ {
          "description" : "Facility key",
          "explode" : false,
          "in" : "path",
          "name" : "key",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FacilityResponse"
                }
              }
            },
            "description" : "Facility"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Get Facility",
        "tags" : [ "Facility" ]
      },
      "put" : {
        "operationId" : "facility_update_facility",
        "parameters" : [ {
          "description" : "Facility key",
          "explode" : false,
          "in" : "path",
          "name" : "key",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/UpdateFacilityRequestBody"
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/FacilityResponse"
                }
              }
            },
            "description" : "Facility"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Update Facility",
        "tags" : [ "Facility" ]
      }
    },
    "/facilities/{key}/clear_fields" : {
      "put" : {
        "operationId" : "facility_clear_fields",
        "parameters" : [ {
          "description" : "Facility key",
          "explode" : false,
          "in" : "path",
          "name" : "key",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "description" : "Facility fields to clear",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "enum" : [ "address", "facility_size", "location", "logo", "number" ],
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "responses" : {
          "204" : {
            "description" : "Fields are cleared"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Clear fields",
        "tags" : [ "Facility" ]
      }
    },
    "/workspaces" : {
      "get" : {
        "operationId" : "workspace_get_workspaces",
        "parameters" : [ {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        }, {
          "description" : "조건에 맞는 Workspace를 필터링 하며, 콤마(,)로 구분된 여러개의 조건을 입력할 수 있다.\n\n가능한 조건 및 입력값\n* state={created, active, inactive}\n",
          "explode" : true,
          "in" : "query",
          "name" : "filter",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Search query",
          "explode" : true,
          "in" : "query",
          "name" : "q",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Field name to order",
          "explode" : true,
          "in" : "query",
          "name" : "order_by",
          "required" : false,
          "schema" : {
            "example" : "created_at",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Sort direction",
          "explode" : true,
          "in" : "query",
          "name" : "sort",
          "required" : false,
          "schema" : {
            "example" : "desc",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "Page number",
          "explode" : true,
          "in" : "query",
          "name" : "page",
          "required" : false,
          "schema" : {
            "format" : "int32",
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "Item count per page",
          "explode" : true,
          "in" : "query",
          "name" : "per_page",
          "required" : false,
          "schema" : {
            "format" : "int32",
            "type" : "integer"
          },
          "style" : "form"
        }, {
          "description" : "리스트 조회 대상 설정\n\nuntrashed (default): 삭제되지 않은 상태\nin_trash_by_parent: 해당 인스턴스는 삭제되지 않았지만, 부모 인스턴스가 삭제된 상태\n",
          "explode" : true,
          "in" : "query",
          "name" : "visibility",
          "required" : false,
          "schema" : {
            "enum" : [ "untrashed", "in_trash_by_parent" ],
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WorkspaceListResponse"
                }
              }
            },
            "description" : "Workspace list"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Get Workspace List",
        "tags" : [ "Workspace" ]
      },
      "post" : {
        "operationId" : "workspace_create_workspace",
        "parameters" : [ {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/CreateWorkspaceRequestBody"
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WorkspaceResponse"
                }
              }
            },
            "description" : "Workspace"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Create Workspace",
        "tags" : [ "Workspace" ]
      }
    },
    "/workspaces/{id}" : {
      "get" : {
        "operationId" : "workspace_get_workspace",
        "parameters" : [ {
          "description" : "Workspace ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WorkspaceResponse"
                }
              }
            },
            "description" : "Workspace"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Get Workspace",
        "tags" : [ "Workspace" ]
      },
      "put" : {
        "operationId" : "workspace_update_workspace",
        "parameters" : [ {
          "description" : "Workspace ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Fields list to response",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/UpdateWorkspaceRequestBody"
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WorkspaceResponse"
                }
              }
            },
            "description" : "Workspace"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Update workspace",
        "tags" : [ "Workspace" ]
      }
    },
    "/workspaces/{id}/clear_fields" : {
      "put" : {
        "operationId" : "workspace_clear_fields",
        "parameters" : [ {
          "description" : "Workspace ID",
          "explode" : false,
          "in" : "path",
          "name" : "id",
          "required" : true,
          "schema" : {
            "format" : "int64",
            "type" : "integer"
          },
          "style" : "simple"
        }, {
          "description" : "Workspace fields to clear",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "required" : true,
          "schema" : {
            "items" : {
              "enum" : [ "logo" ],
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "responses" : {
          "204" : {
            "description" : "Fields are cleared"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "description" : "Unauthorized request"
          },
          "403" : {
            "description" : "Permission denied"
          },
          "404" : {
            "description" : "Not found"
          }
        },
        "security" : [ {
          "CupixAuth" : [ ]
        } ],
        "summary" : "Clear fields",
        "tags" : [ "Workspace" ]
      }
    }
  },
  "components" : {
    "callbacks" : { },
    "examples" : { },
    "headers" : { },
    "links" : { },
    "parameters" : {
      "annotationClearFieldsParam" : {
        "description" : "Annoation fields to clear",
        "explode" : false,
        "in" : "query",
        "name" : "fields",
        "required" : true,
        "schema" : {
          "items" : {
            "enum" : [ "thumbnail", "parent_id", "value", "annotatable" ],
            "type" : "string"
          },
          "type" : "array"
        },
        "style" : "form"
      },
      "annotationIdPathParam" : {
        "description" : "Annotation ID",
        "explode" : false,
        "in" : "path",
        "name" : "annotation_id",
        "required" : true,
        "schema" : {
          "format" : "int64",
          "type" : "integer"
        },
        "style" : "simple"
      },
      "annotationIdQueryParam" : {
        "description" : "Annotation ID",
        "explode" : true,
        "in" : "query",
        "name" : "annotation_id",
        "required" : false,
        "schema" : {
          "format" : "int64",
          "type" : "integer"
        },
        "style" : "form"
      },
      "annotationLayerIdsQueryParam" : {
        "description" : "AnnotationLayer ID list",
        "explode" : false,
        "in" : "query",
        "name" : "annotation_layer_ids",
        "required" : false,
        "schema" : {
          "items" : {
            "format" : "int64",
            "type" : "integer"
          },
          "type" : "array"
        },
        "style" : "form"
      },
      "areaIdsQueryParam" : {
        "description" : "Aread ID list",
        "explode" : false,
        "in" : "query",
        "name" : "area_ids",
        "required" : false,
        "schema" : {
          "items" : {
            "format" : "int64",
            "type" : "integer"
          },
          "type" : "array"
        },
        "style" : "form"
      },
      "captureClearFieldsParam" : {
        "description" : "Capture fields to clear",
        "explode" : false,
        "in" : "query",
        "name" : "fields",
        "required" : true,
        "schema" : {
          "items" : {
            "enum" : [ "thumbnail" ],
            "type" : "string"
          },
          "type" : "array"
        },
        "style" : "form"
      },
      "captureIdQueryParam" : {
        "description" : "Capture ID",
        "explode" : true,
        "in" : "query",
        "name" : "capture_id",
        "required" : false,
        "schema" : {
          "type" : "integer"
        },
        "style" : "form"
      },
      "editCaptureIdsQueryParam" : {
        "description" : "Capture IDs",
        "explode" : false,
        "in" : "query",
        "name" : "edit_ids",
        "required" : false,
        "schema" : {
          "items" : {
            "format" : "int64",
            "type" : "integer"
          },
          "type" : "array"
        },
        "style" : "form"
      },
      "extraFilterQueryParam" : {
        "description" : "filter empty spacetime ( ex. extra_filter=exclude_empty_counts )",
        "explode" : true,
        "in" : "query",
        "name" : "extra_filter",
        "required" : false,
        "schema" : {
          "type" : "string"
        },
        "style" : "form"
      },
      "facilityClearFieldsParam" : {
        "description" : "Facility fields to clear",
        "explode" : false,
        "in" : "query",
        "name" : "fields",
        "required" : true,
        "schema" : {
          "items" : {
            "enum" : [ "address", "facility_size", "location", "logo", "number" ],
            "type" : "string"
          },
          "type" : "array"
        },
        "style" : "form"
      },
      "facilityClusteringPrecisionParam" : {
        "description" : "클러스터링 정밀도",
        "explode" : true,
        "in" : "query",
        "name" : "clustering_precision",
        "required" : false,
        "schema" : {
          "format" : "int64",
          "type" : "number"
        },
        "style" : "form"
      },
      "facilityGeotileLatitudeParam" : {
        "description" : "geo distance 검색 시 사용할 위도",
        "explode" : true,
        "in" : "query",
        "name" : "latitude",
        "required" : false,
        "schema" : {
          "format" : "float",
          "type" : "number"
        },
        "style" : "form"
      },
      "facilityGeotileLongitudeParam" : {
        "description" : "geo distance 검색 시 사용할 경도",
        "explode" : true,
        "in" : "query",
        "name" : "longitude",
        "required" : false,
        "schema" : {
          "format" : "float",
          "type" : "number"
        },
        "style" : "form"
      },
      "facilityGeotileRadiusParam" : {
        "description" : "geo distance 검색 시 사용할 반경",
        "explode" : true,
        "in" : "query",
        "name" : "radius",
        "required" : false,
        "schema" : {
          "format" : "int64",
          "type" : "number"
        },
        "style" : "form"
      },
      "facilityVisibilityParam" : {
        "description" : "리스트 조회 대상 설정\n\nuntrashed (default): 삭제되지 않은 상태\nin_trash_by_parent: 해당 인스턴스는 삭제되지 않았지만, 부모 인스턴스가 삭제된 상태\narchived: 아카이브 된 상태\nvisible: untrashed + archived\n",
        "explode" : true,
        "in" : "query",
        "name" : "visibility",
        "required" : false,
        "schema" : {
          "enum" : [ "untrashed", "in_trash_by_parent", "archived", "visible" ],
          "type" : "string"
        },
        "style" : "form"
      },
      "fieldClearFieldsParam" : {
        "description" : "Field fields to clear",
        "explode" : false,
        "in" : "query",
        "name" : "fields",
        "required" : true,
        "schema" : {
          "items" : {
            "enum" : [ "value" ],
            "type" : "string"
          },
          "type" : "array"
        },
        "style" : "form"
      },
      "fieldsParam" : {
        "description" : "Fields list to response",
        "explode" : false,
        "in" : "query",
        "name" : "fields",
        "required" : true,
        "schema" : {
          "items" : {
            "type" : "string"
          },
          "type" : "array"
        },
        "style" : "form"
      },
      "filterParam" : {
        "description" : "Filter",
        "explode" : false,
        "in" : "query",
        "name" : "filter",
        "required" : false,
        "schema" : {
          "items" : {
            "example" : "capture_id=1",
            "type" : "string"
          },
          "type" : "array"
        },
        "style" : "form"
      },
      "fromAtParam" : {
        "description" : "UTC+0 based. Must be used together with `to_at`.",
        "explode" : true,
        "in" : "query",
        "name" : "from_at",
        "required" : false,
        "schema" : {
          "format" : "date-time",
          "type" : "string"
        },
        "style" : "form"
      },
      "groupIdsQueryParam" : {
        "description" : "Group ID list",
        "explode" : false,
        "in" : "query",
        "name" : "group_ids",
        "required" : false,
        "schema" : {
          "items" : {
            "format" : "int64",
            "type" : "integer"
          },
          "type" : "array"
        },
        "style" : "form"
      },
      "idOfAnnotationLayerPathParam" : {
        "description" : "AnnotationLayer ID",
        "explode" : false,
        "in" : "path",
        "name" : "id",
        "required" : true,
        "schema" : {
          "format" : "int64",
          "type" : "integer"
        },
        "style" : "simple"
      },
      "idOfAnnotationPathParam" : {
        "description" : "Annotation ID",
        "explode" : false,
        "in" : "path",
        "name" : "id",
        "required" : true,
        "schema" : {
          "format" : "int64",
          "type" : "integer"
        },
        "style" : "simple"
      },
      "idOfCapturePathParam" : {
        "description" : "Capture ID",
        "explode" : false,
        "in" : "path",
        "name" : "id",
        "required" : true,
        "schema" : {
          "format" : "int64",
          "type" : "integer"
        },
        "style" : "simple"
      },
      "idOfCommentPathParam" : {
        "description" : "Comment ID",
        "explode" : false,
        "in" : "path",
        "name" : "id",
        "required" : true,
        "schema" : {
          "format" : "int64",
          "type" : "integer"
        },
        "style" : "simple"
      },
      "idOfFieldPathParam" : {
        "description" : "Field ID",
        "explode" : false,
        "in" : "path",
        "name" : "id",
        "required" : true,
        "schema" : {
          "format" : "int64",
          "type" : "integer"
        },
        "style" : "simple"
      },
      "idOfFormDesignPathParam" : {
        "description" : "FormDesign ID",
        "explode" : false,
        "in" : "path",
        "name" : "id",
        "required" : true,
        "schema" : {
          "format" : "int64",
          "type" : "integer"
        },
        "style" : "simple"
      },
      "idOfWorkspacePathParam" : {
        "description" : "Workspace ID",
        "explode" : false,
        "in" : "path",
        "name" : "id",
        "required" : true,
        "schema" : {
          "format" : "int64",
          "type" : "integer"
        },
        "style" : "simple"
      },
      "keyOfFacilityPathParam" : {
        "description" : "Facility key",
        "explode" : false,
        "in" : "path",
        "name" : "key",
        "required" : true,
        "schema" : {
          "type" : "string"
        },
        "style" : "simple"
      },
      "kindOfResourcePathParam" : {
        "description" : "Resource kind",
        "explode" : false,
        "in" : "path",
        "name" : "kind",
        "required" : true,
        "schema" : {
          "type" : "string"
        },
        "style" : "simple"
      },
      "levelIdsQueryParam" : {
        "description" : "Level ID list",
        "explode" : false,
        "in" : "query",
        "name" : "level_ids",
        "required" : false,
        "schema" : {
          "items" : {
            "format" : "int64",
            "type" : "integer"
          },
          "type" : "array"
        },
        "style" : "form"
      },
      "memberDisplayOptionParam" : {
        "description" : "Memeber display option",
        "explode" : true,
        "in" : "query",
        "name" : "display_option",
        "required" : true,
        "schema" : {
          "enum" : [ "directly", "directly-flatten", "inherited", "inherited-flatten", "all" ],
          "type" : "string"
        },
        "style" : "form"
      },
      "metaKeyPathParam" : {
        "description" : "Meta key",
        "explode" : false,
        "in" : "path",
        "name" : "meta_key",
        "required" : true,
        "schema" : {
          "type" : "string"
        },
        "style" : "simple"
      },
      "minPermissionQueryParam" : {
        "description" : "minimum permission",
        "explode" : true,
        "in" : "query",
        "name" : "min_permission",
        "required" : false,
        "schema" : {
          "format" : "int32",
          "type" : "integer"
        },
        "style" : "form"
      },
      "orderParam" : {
        "description" : "Field name to order",
        "explode" : true,
        "in" : "query",
        "name" : "order_by",
        "required" : false,
        "schema" : {
          "example" : "created_at",
          "type" : "string"
        },
        "style" : "form"
      },
      "pageParam" : {
        "description" : "Page number",
        "explode" : true,
        "in" : "query",
        "name" : "page",
        "required" : false,
        "schema" : {
          "format" : "int32",
          "type" : "integer"
        },
        "style" : "form"
      },
      "panoIdsQueryParam" : {
        "description" : "Pano ID list",
        "explode" : false,
        "in" : "query",
        "name" : "pano_ids",
        "required" : false,
        "schema" : {
          "items" : {
            "format" : "int64",
            "type" : "integer"
          },
          "type" : "array"
        },
        "style" : "form"
      },
      "perPageParam" : {
        "description" : "Item count per page",
        "explode" : true,
        "in" : "query",
        "name" : "per_page",
        "required" : false,
        "schema" : {
          "format" : "int32",
          "type" : "integer"
        },
        "style" : "form"
      },
      "progressIdPathParam" : {
        "description" : "Progress ID",
        "explode" : false,
        "in" : "path",
        "name" : "progress_id",
        "required" : true,
        "schema" : {
          "format" : "int64",
          "type" : "integer"
        },
        "style" : "simple"
      },
      "progressIdQueryParam" : {
        "description" : "Progress ID",
        "explode" : true,
        "in" : "query",
        "name" : "progress_id",
        "required" : false,
        "schema" : {
          "format" : "int64",
          "type" : "integer"
        },
        "style" : "form"
      },
      "recordIdQueryParam" : {
        "description" : "Record ID",
        "explode" : true,
        "in" : "query",
        "name" : "record_id",
        "required" : false,
        "schema" : {
          "format" : "int64",
          "type" : "integer"
        },
        "style" : "form"
      },
      "recordIdsQueryParam" : {
        "description" : "from_at/to_at 과 같이 입력되면 에러를 냄",
        "explode" : false,
        "in" : "query",
        "name" : "record_ids",
        "required" : false,
        "schema" : {
          "items" : {
            "format" : "int64",
            "type" : "integer"
          },
          "type" : "array"
        },
        "style" : "form"
      },
      "resourceIdPathParam" : {
        "description" : "Resource ID",
        "explode" : false,
        "in" : "path",
        "name" : "resource_id",
        "required" : true,
        "schema" : {
          "format" : "int64",
          "type" : "integer"
        },
        "style" : "simple"
      },
      "resourceKeyPathParam" : {
        "description" : "Resource key",
        "explode" : false,
        "in" : "path",
        "name" : "resource_key",
        "required" : true,
        "schema" : {
          "type" : "string"
        },
        "style" : "simple"
      },
      "reviewKeyPathParam" : {
        "description" : "Review key",
        "explode" : false,
        "in" : "path",
        "name" : "review_key",
        "required" : true,
        "schema" : {
          "type" : "string"
        },
        "style" : "simple"
      },
      "searchParam" : {
        "description" : "Search query",
        "explode" : true,
        "in" : "query",
        "name" : "q",
        "required" : false,
        "schema" : {
          "type" : "string"
        },
        "style" : "form"
      },
      "sortParam" : {
        "description" : "Sort direction",
        "explode" : true,
        "in" : "query",
        "name" : "sort",
        "required" : false,
        "schema" : {
          "example" : "desc",
          "type" : "string"
        },
        "style" : "form"
      },
      "toAtParam" : {
        "description" : "UTC+0 based. Must be used together with `from_at`.",
        "explode" : true,
        "in" : "query",
        "name" : "to_at",
        "required" : false,
        "schema" : {
          "format" : "date-time",
          "type" : "string"
        },
        "style" : "form"
      },
      "updatedSinceParam" : {
        "description" : "The server will send back the requested resource, with a 200 status, only if it has been last modified after the given date.",
        "explode" : false,
        "in" : "header",
        "name" : "X-CUPIX-UPDATED-SINCE",
        "required" : false,
        "schema" : {
          "format" : "date-time",
          "type" : "string"
        },
        "style" : "simple"
      },
      "userIdQueryParam" : {
        "description" : "User ID",
        "explode" : true,
        "in" : "query",
        "name" : "user_id",
        "required" : false,
        "schema" : {
          "format" : "int64",
          "type" : "integer"
        },
        "style" : "form"
      },
      "userIdsQueryParam" : {
        "description" : "User ID list",
        "explode" : false,
        "in" : "query",
        "name" : "user_ids",
        "required" : false,
        "schema" : {
          "items" : {
            "format" : "int64",
            "type" : "integer"
          },
          "type" : "array"
        },
        "style" : "form"
      },
      "visibilityParam" : {
        "description" : "리스트 조회 대상 설정\n\nuntrashed (default): 삭제되지 않은 상태\nin_trash_by_parent: 해당 인스턴스는 삭제되지 않았지만, 부모 인스턴스가 삭제된 상태\n",
        "explode" : true,
        "in" : "query",
        "name" : "visibility",
        "required" : false,
        "schema" : {
          "enum" : [ "untrashed", "in_trash_by_parent" ],
          "type" : "string"
        },
        "style" : "form"
      },
      "workspaceClearFieldsParam" : {
        "description" : "Workspace fields to clear",
        "explode" : false,
        "in" : "query",
        "name" : "fields",
        "required" : true,
        "schema" : {
          "items" : {
            "enum" : [ "logo" ],
            "type" : "string"
          },
          "type" : "array"
        },
        "style" : "form"
      },
      "workspaceFilterParam" : {
        "description" : "조건에 맞는 Workspace를 필터링 하며, 콤마(,)로 구분된 여러개의 조건을 입력할 수 있다.\n\n가능한 조건 및 입력값\n* state={created, active, inactive}\n",
        "explode" : true,
        "in" : "query",
        "name" : "filter",
        "required" : false,
        "schema" : {
          "type" : "string"
        },
        "style" : "form"
      },
      "workspaceIdQueryParam" : {
        "description" : "Workspace ID",
        "explode" : true,
        "in" : "query",
        "name" : "workspace_id",
        "required" : false,
        "schema" : {
          "format" : "int64",
          "type" : "integer"
        },
        "style" : "form"
      }
    },
    "requestBodies" : {
      "BulkShareRequestBody" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/BulkShareRequest"
            }
          }
        },
        "required" : true
      },
      "BulkTrashAnnotationsRequestBody" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/BulkTrashAnnotationsRequest"
            }
          }
        },
        "required" : true
      },
      "ContactSalesRequestBody" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/ContactSalesRequest"
            }
          }
        },
        "required" : true
      },
      "CreateAnnotationRequestBody" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/CreateAnnotationRequest"
            }
          }
        },
        "required" : true
      },
      "CreateCaptureRequestBody" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/CreateCaptureRequest"
            }
          }
        },
        "required" : true
      },
      "CreateCaptureResourceRequestBody" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/CreateCaptureResourceRequest"
            }
          }
        },
        "required" : true
      },
      "CreateCaptureWithMaterialsRequestBody" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/CreateCaptureWithMaterialsRequest"
            }
          }
        },
        "required" : true
      },
      "CreateCommentRequestBody" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/CreateCommentRequest"
            }
          }
        },
        "required" : true
      },
      "CreateCustomEventRequestBody" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/CreateCustomEventRequest"
            }
          }
        },
        "required" : true
      },
      "CreateEntityParameterRequestBody" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/CreateEntityParameterRequest"
            }
          }
        },
        "required" : true
      },
      "CreateFacilityRequestBody" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/CreateFacilityRequest"
            }
          }
        },
        "required" : true
      },
      "CreateResourceRequestBody" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/CreateResourceRequest"
            }
          }
        },
        "required" : true
      },
      "CreateUploadUrlRequestBody" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/CreateUploadUrlRequest"
            }
          }
        },
        "required" : true
      },
      "CreateWorkspaceRequestBody" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/CreateWorkspaceRequest"
            }
          }
        },
        "required" : true
      },
      "ImportCategoryRequestBody" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/ImportCategoryRequest"
            }
          }
        },
        "required" : true
      },
      "InvokeCaptureRequestBody" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/InvokeCaptureRequest"
            }
          }
        },
        "required" : true
      },
      "InvokeFacilityRequestBody" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/InvokeFacilityRequest"
            }
          }
        },
        "required" : true
      },
      "ShareRequestBody" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/ShareRequest"
            }
          }
        },
        "required" : true
      },
      "UpdateAnnotationAssociationRequestBody" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/UpdateAnnotationAssociationRequest"
            }
          },
          "multipart/form-data" : {
            "schema" : {
              "$ref" : "#/components/schemas/UpdateAnnotationAssociationRequest"
            }
          }
        },
        "required" : true
      },
      "UpdateAnnotationRequestBody" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/UpdateAnnotationRequest"
            }
          },
          "multipart/form-data" : {
            "schema" : {
              "$ref" : "#/components/schemas/UpdateAnnotationRequest"
            }
          }
        },
        "required" : true
      },
      "UpdateCaptureRequestBody" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/UpdateCaptureRequest"
            }
          },
          "multipart/form-data" : {
            "schema" : {
              "$ref" : "#/components/schemas/UpdateCaptureRequest"
            }
          }
        },
        "required" : true
      },
      "UpdateCommentRequestBody" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/UpdateCommentRequest"
            }
          }
        },
        "required" : true
      },
      "UpdateFacilityRequestBody" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/UpdateFacilityRequest"
            }
          },
          "multipart/form-data" : {
            "schema" : {
              "$ref" : "#/components/schemas/UpdateFacilityRequest"
            }
          }
        },
        "required" : true
      },
      "UpdateFieldRequestBody" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/UpdateFieldRequest"
            }
          }
        },
        "required" : true
      },
      "UpdateMetaRequestBody" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "type" : "object"
            }
          }
        },
        "required" : true
      },
      "UpdatePositionRequestBody" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/UpdatePositionRequest"
            }
          }
        },
        "required" : true
      },
      "UpdateWorkspaceRequestBody" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/UpdateWorkspaceRequest"
            }
          },
          "multipart/form-data" : {
            "schema" : {
              "$ref" : "#/components/schemas/UpdateWorkspaceRequest"
            }
          }
        },
        "required" : true
      }
    },
    "responses" : {
      "400BadRequest" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/ErrorResponse"
            }
          }
        },
        "description" : "Bad Request"
      },
      "401Unauthorized" : {
        "description" : "Unauthorized request"
      },
      "403PermissionDenied" : {
        "description" : "Permission denied"
      },
      "404NotFound" : {
        "description" : "Not found"
      },
      "AnnotationListResponse" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/AnnotationListResponse"
            }
          }
        },
        "description" : "Annotation list"
      },
      "AnnotationResponse" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/AnnotationResponse"
            }
          }
        },
        "description" : "Annotation"
      },
      "AssetListResponse" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/AssetListResponse"
            }
          }
        },
        "description" : "Asset list"
      },
      "BulkResponse" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/BulkResponse"
            }
          }
        },
        "description" : "Ids created by bulk operation"
      },
      "CaptureListResponse" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/CaptureListResponse"
            }
          }
        },
        "description" : "Capture list"
      },
      "CaptureResponse" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/CaptureResponse"
            }
          }
        },
        "description" : "Capture"
      },
      "CaptureWithMaterialsResponse" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/CaptureWithMaterialsResponse"
            }
          }
        },
        "description" : "Capture"
      },
      "CommentListResponse" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/CommentListResponse"
            }
          }
        },
        "description" : "Comment list"
      },
      "CommentResponse" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/CommentResponse"
            }
          }
        },
        "description" : "Comment"
      },
      "EntityParameterListResponse" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/EntityParameterListResponse"
            }
          }
        },
        "description" : "EntityParameter list"
      },
      "EntityParameterResponse" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/EntityParameterResponse"
            }
          }
        },
        "description" : "EntityParameter"
      },
      "EventResponse" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/EventResponse"
            }
          }
        },
        "description" : "Resource"
      },
      "FacilityListResponse" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/FacilityListResponse"
            }
          }
        },
        "description" : "Facility list"
      },
      "FacilityResponse" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/FacilityResponse"
            }
          }
        },
        "description" : "Facility"
      },
      "FieldListResponse" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/FieldListResponse"
            }
          }
        },
        "description" : "Field list"
      },
      "FieldResponse" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/FieldResponse"
            }
          }
        },
        "description" : "Field"
      },
      "MetaResponse" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/MetaResponse"
            }
          }
        },
        "description" : "Meta information"
      },
      "ResourceListResponse" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/ResourceListResponse"
            }
          }
        },
        "description" : "Resource list"
      },
      "ResourceResponse" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/ResourceResponse"
            }
          }
        },
        "description" : "Resource"
      },
      "ShareListResponse" : {
        "content" : {
          "application/json" : {
            "schema" : {
              "$ref" : "#/components/schemas/ShareListResponse"
            }
          }
        },
        "description" : "Shared memeber list"
      },
      "SpacetimeListResponse" : {
        "content" : {
          "application/json" : {
            "schema" : {
[...]
